## 1. 라이브러리 호출 및 데이터 불러오기

In [14]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

df=pd.read_csv('연료원별 정산단가.csv')
df

,기간,원자력,석탄_유연탄,석탄_무연탄,석탄_계,유류,LNG,양수,신재생_연료전지,신재생_석탄가스화,신재생_태양,신재생_풍력,신재생_수력,신재생_해양,신재생_바이오,신재생_계,기타,합계
0,May.24,69.137904,144.447854,134.294034,144.275552,420.109694,163.635562,179.192551,124.836927,0.000000,132.954955,121.918869,135.111010,120.095058,140.514895,132.205670,136.810653,121.655121
1,Apr.24,68.287289,141.648346,136.929570,141.601038,364.880624,167.016822,185.659473,123.886542,146.319959,125.521347,127.704082,133.174698,121.570354,152.519604,133.438446,134.077034,123.843329
2,Mar.24,52.354617,130.615371,151.106156,130.790465,331.456706,177.758202,208.942002,132.185684,148.606196,130.955029,131.147463,151.765625,133.500365,166.850292,143.062584,146.549503,122.132191
3,Feb.24,51.036647,122.453543,136.830958,122.580028,394.810987,179.006440,217.972099,115.126884,128.166561,121.030483,114.843060,140.819035,116.911759,145.738086,128.650629,129.504415,117.569919
4,Jan.24,59.349209,134.627765,148.069649,134.807311,345.970510,198.281516,271.530135,133.606974,147.800660,152.107508,135.331899,164.630620,139.021073,171.429038,151.885484,152.055544,135.449914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Apr.02,40.299890,41.600401,50.465364,41.994518,60.490947,73.211908,72.717281,0.000000,0.000000,0.000000,0.000000,56.611599,0.000000,0.000000,56.611599,NaN,46.265551
266,Mar.02,39.351880,42.088690,51.118453,42.429226,62.854301,74.247935,74.233229,0.000000,0.000000,0.000000,0.000000,60.590363,0.000000,0.000000,60.590363,NaN,46.546928
267,Feb.02,38.932937,42.394581,54.243727,42.937615,71.515871,79.340000,81.143168,0.000000,0.000000,0.000000,0.000000,60.531723,0.000000,0.000000,60.531723,NaN,47.347208
268,Jan.02,40.212111,41.905286,48.963261,42.359903,72.521700,79.256818,104.912083,0.000000,0.000000,0.000000,0.000000,67.230053,0.000000,0.000000,67.230053,NaN,48.750533
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. 22~23년도 데이터만 남긴 후 날짜 형식으로 변환

In [15]:
df = df.dropna(subset=['기간'])

df = df[df['기간'].str.endswith(('22', '23'))]

# '월.연도' 형식을 'yyyy-mm' 형식으로 변환하는 함수
def convert_to_date_format(period):
    month_map = {
        'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04',
        'May': '05', 'Jun': '06', 'Jul': '07', 'Aug': '08',
        'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'
    }
    month_str, year_str = period.split('.')
    year = '20' + year_str
    month = month_map[month_str]
    return f'{year}-{month}'

df['기간'] = df['기간'].apply(convert_to_date_format)

df

,기간,원자력,석탄_유연탄,석탄_무연탄,석탄_계,유류,LNG,양수,신재생_연료전지,신재생_석탄가스화,신재생_태양,신재생_풍력,신재생_수력,신재생_해양,신재생_바이오,신재생_계,기타,합계
5,2023-12,92.298712,111.117487,139.534575,111.325128,244.073808,184.061391,264.047925,128.677926,143.614967,140.354227,128.723727,150.456248,130.455320,166.707163,145.283957,140.578605,128.500827
6,2023-11,56.783289,104.626136,129.357457,104.752050,273.892300,172.387619,220.166658,118.526149,132.090489,132.427418,117.863058,141.248791,119.196298,165.280476,136.190993,130.046242,109.950155
7,2023-10,59.227924,114.203864,146.521552,114.532228,363.335344,186.237427,212.334864,134.246834,1482.996495,147.110196,136.293091,154.388924,134.067946,183.113625,159.324548,148.080318,118.221924
8,2023-09,61.225969,136.804284,149.232491,136.986229,517.199033,186.454744,234.542426,137.376740,669.294192,149.410919,138.765550,152.201562,131.818010,183.488408,162.220911,151.852726,129.236408
9,2023-08,65.750721,152.833700,156.091161,152.868955,466.717848,195.803262,278.287449,144.248448,157.557804,159.711764,149.588960,163.287030,137.984266,201.770674,168.560632,160.590885,141.009978
10,2023-07,67.560660,148.677873,163.668124,148.784215,440.077356,203.967165,258.953234,150.728674,165.124316,166.841301,149.660311,164.879504,143.011763,209.757218,173.596277,163.557535,141.665324
11,2023-06,38.866556,142.838627,159.812728,142.964899,375.645202,191.880443,227.150329,145.102564,0.000000,153.664042,145.583133,165.503333,138.935230,190.429781,162.984267,159.193878,125.769240
12,2023-05,34.589886,137.171707,151.452976,137.232632,338.836378,184.231437,206.574781,141.624124,0.000000,149.589886,140.547481,157.435556,137.461328,182.067916,156.687461,156.909026,118.467465
13,2023-04,37.021486,143.865851,187.508988,143.933935,305.952468,197.708054,197.190943,160.332350,0.000000,156.409753,156.706865,170.225864,155.833474,199.624103,170.846772,166.268039,127.808506
14,2023-03,50.549384,176.407172,229.766099,177.145977,310.441535,270.454371,316.693117,212.287610,0.000000,213.534178,211.331832,240.617705,214.019936,246.936930,224.949813,229.845699,169.528902
15,2023-02,43.669501,152.678045,173.627517,152.987562,331.340057,290.172399,252.843590,232.507500,0.000000,165.404345,173.636634,175.842290,161.187840,239.318134,202.843767,182.655484,166.008819
16,2023-01,43.926005,156.840780,175.478723,157.084149,374.994575,278.778938,243.953031,222.275827,172.831075,162.432445,168.068849,175.395007,158.942989,233.454065,199.820133,184.052458,163.404486
17,2022-12,50.443737,162.818274,175.418605,162.989647,412.746193,297.319710,288.686353,158.960000,175.366369,163.440576,169.014508,186.338445,158.960000,220.352527,185.568482,187.877864,176.416016
18,2022-11,48.914599,176.584927,253.884058,177.258313,337.354586,294.204413,317.037645,238.805223,0.000000,250.084415,237.729856,266.493020,234.244412,279.403320,258.602721,246.845064,177.129596
19,2022-10,48.380901,179.068792,260.958569,180.106940,331.627076,302.784844,315.426729,248.652421,247.973510,266.359538,247.800288,270.811934,243.775297,282.762953,266.537394,259.872011,176.980714
20,2022-09,48.322741,183.346155,257.535619,184.012683,458.035830,293.324316,323.416718,228.907992,289.288114,244.019990,232.032475,240.413138,221.586837,281.371984,252.668195,238.097972,175.662739
21,2022-08,60.901098,189.688693,214.272738,190.021705,645.884103,274.269609,376.912834,192.062908,208.669201,212.106552,207.357428,218.375328,186.868982,251.996576,221.295358,214.962250,175.398323
22,2022-07,51.961071,150.772195,165.197216,150.961229,475.885936,198.072227,293.302534,144.999194,160.653527,156.239596,168.775689,174.249456,145.319478,202.124432,170.777351,157.349646,138.306022
23,2022-06,38.453037,126.629575,133.370023,126.692944,400.867690,155.652880,168.900005,127.702178,130.008786,131.685844,139.096894,139.868273,125.545667,175.897755,144.153216,138.367470,108.182388
24,2022-05,39.373545,128.834237,141.144338,128.974558,354.854468,161.941127,167.596790,138.376259,138.991509,139.287272,151.085523,145.486419,138.038223,183.723265,153.468565,150.966626,110.729522
25,2022-04,53.335563,162.112201,210.761129,162.918898,308.063885,229.610007,238.359737,200.549418,201.038858,197.431906,206.155234,209.080796,202.566372,232.576849,208.678732,206.942294,153.237796
26,2022-03,59.280933,144.827486,0.000000,144.961009,285.589683,218.428144,226.684756,191.826900,191.782916,193.790265,197.487671,201.017384,194.088122,177.370959,189.445309,192.117513,150.078685
27,2022-02,67.893255,145.446968,0.000000,145.551272,277.743029,247.087436,287.657980,193.421382,194.892915,195.077980,196.542227,220.700820,193.362146,226.901979,204.456015,201.462876,157.389529
28,2022-01,61.510774,128.468538,0.000000,128.568911,217.177673,206.207981,299.637085,151.186834,151.384442,149.903263,161.324304,181.772934,149.900743,209.016774,169.111033,160.324637,135.007596

## 3. 월별->일별로 확장 및 월별로 같은 값 적용

In [16]:
# '기간' 칼럼을 일별 데이터로 확장하는 함수
def expand_month_to_days(row):
    period = row['기간']
    start_date = datetime.strptime(period, "%Y-%m")
    end_date = (start_date + pd.DateOffset(months=1)) - timedelta(days=1)
    
    all_days = pd.date_range(start=start_date, end=end_date, freq='D')
    
    expanded_df = pd.DataFrame({
        '기간': all_days
    })
    
    for col in df.columns:
        if col != '기간':
            expanded_df[col] = row[col]
    
    return expanded_df

expanded_dfs = [expand_month_to_days(row) for _, row in df.iterrows()]

result_df = pd.concat(expanded_dfs, ignore_index=True)

result_df = result_df.sort_values(by='기간').reset_index(drop=True)

result_df

,기간,원자력,석탄_유연탄,석탄_무연탄,석탄_계,유류,LNG,양수,신재생_연료전지,신재생_석탄가스화,신재생_태양,신재생_풍력,신재생_수력,신재생_해양,신재생_바이오,신재생_계,기타,합계
0,2022-01-01,61.510774,128.468538,0.000000,128.568911,217.177673,206.207981,299.637085,151.186834,151.384442,149.903263,161.324304,181.772934,149.900743,209.016774,169.111033,160.324637,135.007596
1,2022-01-02,61.510774,128.468538,0.000000,128.568911,217.177673,206.207981,299.637085,151.186834,151.384442,149.903263,161.324304,181.772934,149.900743,209.016774,169.111033,160.324637,135.007596
2,2022-01-03,61.510774,128.468538,0.000000,128.568911,217.177673,206.207981,299.637085,151.186834,151.384442,149.903263,161.324304,181.772934,149.900743,209.016774,169.111033,160.324637,135.007596
3,2022-01-04,61.510774,128.468538,0.000000,128.568911,217.177673,206.207981,299.637085,151.186834,151.384442,149.903263,161.324304,181.772934,149.900743,209.016774,169.111033,160.324637,135.007596
4,2022-01-05,61.510774,128.468538,0.000000,128.568911,217.177673,206.207981,299.637085,151.186834,151.384442,149.903263,161.324304,181.772934,149.900743,209.016774,169.111033,160.324637,135.007596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,2023-12-27,92.298712,111.117487,139.534575,111.325128,244.073808,184.061391,264.047925,128.677926,143.614967,140.354227,128.723727,150.456248,130.455320,166.707163,145.283957,140.578605,128.500827
726,2023-12-28,92.298712,111.117487,139.534575,111.325128,244.073808,184.061391,264.047925,128.677926,143.614967,140.354227,128.723727,150.456248,130.455320,166.707163,145.283957,140.578605,128.500827
727,2023-12-29,92.298712,111.117487,139.534575,111.325128,244.073808,184.061391,264.047925,128.677926,143.614967,140.354227,128.723727,150.456248,130.455320,166.707163,145.283957,140.578605,128.500827
728,2023-12-30,92.298712,111.117487,139.534575,111.325128,244.073808,184.061391,264.047925,128.677926,143.614967,140.354227,128.723727,150.456248,130.455320,166.707163,145.283957,140.578605,128.500827
729,2023-12-31,92.298712,111.117487,139.534575,111.325128,244.073808,184.061391,264.047925,128.677926,143.614967,140.354227,128.723727,150.456248,130.455320,166.707163,145.283957,140.578605,128.500827

In [17]:
# result_df.to_csv('연료원별 정산단가 전처리.csv', index=False)