In [5]:
import json
import pandas as pd

df = pd.read_excel('제주도 에너지 워드클라우드, 감성분석 병합.xlsx')
df

,top_word,count,label,confidence
0,전국,17,neutral,"{'negative': 0.10351046, 'positive': 7.1608624..."
1,신문,4,neutral,"{'negative': 0.019764842, 'positive': 0.018615..."
2,신문,4,neutral,"{'negative': 0.019297926, 'positive': 0.018831..."
3,신문,4,neutral,"{'negative': 0.019655075, 'positive': 0.018880..."
4,제주,143,positive,"{'negative': 0.018455245, 'positive': 99.93152..."
...,...,...,...,...
383,울릉도,1,neutral,"{'negative': 0.0437458, 'positive': 0.02949227..."
384,돌파구,1,neutral,"{'negative': 0.068422526, 'positive': 0.034912..."
385,기후변화,1,neutral,"{'negative': 0.018124063, 'positive': 0.019681..."
386,아세안,1,neutral,"{'negative': 0.057513736, 'positive': 0.066708..."
387,원탁,1,neutral,"{'negative': 0.044214398, 'positive': 0.034291..."

In [6]:
# 문자열을 딕셔너리로 변환하는 함수
def str_to_dict(conf_str):
    # 작은 따옴표를 큰 따옴표로 변경 (json.loads가 제대로 작동하게 하기 위해)
    conf_str = conf_str.replace("'", '"')
    return json.loads(conf_str)

# confidence 칼럼의 문자열을 딕셔너리로 변환
df['confidence'] = df['confidence'].apply(str_to_dict)

print(df)

    top_word  count     label  \
0         전국     17   neutral
1         신문      4   neutral
2         신문      4   neutral
3         신문      4   neutral
4         제주    143  positive
..       ...    ...       ...
383      울릉도      1   neutral
384      돌파구      1   neutral
385     기후변화      1   neutral
386      아세안      1   neutral
387       원탁      1   neutral

                                            confidence
0    {'negative': 0.10351046, 'positive': 7.1608624...
1    {'negative': 0.019764842, 'positive': 0.018615...
2    {'negative': 0.019297926, 'positive': 0.018831...
3    {'negative': 0.019655075, 'positive': 0.018880...
4    {'negative': 0.018455245, 'positive': 99.93152...
..                                                 ...
383  {'negative': 0.0437458, 'positive': 0.02949227...
384  {'negative': 0.068422526, 'positive': 0.034912...
385  {'negative': 0.018124063, 'positive': 0.019681...
386  {'negative': 0.057513736, 'positive': 0.066708...
387  {'negative': 0.044214398, 'positive': 0.034291...

[388 rows x 4 columns]

In [7]:
# 딕셔너리를 별도의 칼럼으로 분리
confidence_df = df['confidence'].apply(pd.Series)

# 반올림하여 소수점 첫번째 자리까지 표시
confidence_df = confidence_df.round(2)

# 원본 데이터프레임에 새로운 칼럼 추가
df = pd.concat([df.drop(columns=['confidence']), confidence_df], axis=1)

print(df)

    top_word  count     label  negative  positive  neutral
0         전국     17   neutral      0.10      7.16    92.74
1         신문      4   neutral      0.02      0.02    99.96
2         신문      4   neutral      0.02      0.02    99.96
3         신문      4   neutral      0.02      0.02    99.96
4         제주    143  positive      0.02     99.93     0.05
..       ...    ...       ...       ...       ...      ...
383      울릉도      1   neutral      0.04      0.03    99.93
384      돌파구      1   neutral      0.07      0.03    99.90
385     기후변화      1   neutral      0.02      0.02    99.96
386      아세안      1   neutral      0.06      0.07    99.88
387       원탁      1   neutral      0.04      0.03    99.92

[388 rows x 6 columns]

In [8]:
# 결과를 엑셀 파일로 저장
df.to_excel('제주도 에너지 감성분석 최종.xlsx', index=False)