## 1. 워드클라우드 단어 count 파일, 감성분석 최고 기여 단어 파일 병합, 약간의 전처리

In [1]:
import pandas as pd

df1 = pd.read_excel('제주도 에너지 뉴스제목 워드클라우드.xlsx')
df2 = pd.read_excel('제주도 에너지 감성분석 최고 기여 단어.xlsx')

# 'text' 열과 'top_words' 열을 기준으로 병합
merged_df = pd.merge(df1, df2, left_on='text', right_on='top_word', how='inner')

# 중복된 행 제거
merged_df.drop_duplicates(inplace=True)

# 'text' 칼럼 삭제
merged_df.drop(columns=['text'], inplace=True)

# 칼럼 순서 조정
merged_df = merged_df.reindex(columns=['top_word', 'count', 'label', 'confidence'])

# 결과를 엑셀 파일로 저장
merged_df.to_excel('제주도 에너지 워드클라우드, 감성분석 병합.xlsx', index=False)

In [2]:
merged_df

,top_word,count,label,confidence
0,전국,17,neutral,"{'negative': 0.10351046, 'positive': 7.1608624..."
1,신문,4,neutral,"{'negative': 0.019764842, 'positive': 0.018615..."
2,신문,4,neutral,"{'negative': 0.019297926, 'positive': 0.018831..."
3,신문,4,neutral,"{'negative': 0.019655075, 'positive': 0.018880..."
4,제주,143,positive,"{'negative': 0.018455245, 'positive': 99.93152..."
...,...,...,...,...
386,울릉도,1,neutral,"{'negative': 0.0437458, 'positive': 0.02949227..."
387,돌파구,1,neutral,"{'negative': 0.068422526, 'positive': 0.034912..."
388,기후변화,1,neutral,"{'negative': 0.018124063, 'positive': 0.019681..."
389,아세안,1,neutral,"{'negative': 0.057513736, 'positive': 0.066708..."
390,원탁,1,neutral,"{'negative': 0.044214398, 'positive': 0.034291..."